doctype html
| PASTE YOUR HTML CODE HERE
head
  title Gestoseven SL
  meta(charset='utf-8')
  meta(name='viewport' content='width=device-width, initial-scale=1, user-scalable=no')
  link(rel='stylesheet' href='assets/css/main.css')
  // PARA EL SLIDE
  link(rel='stylesheet' href='https://cdn.jsdelivr.net/bxslider/4.2.12/jquery.bxslider.css')
  script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js')
  script(src='https://cdn.jsdelivr.net/bxslider/4.2.12/jquery.bxslider.min.js')
  link(rel='stylesheet' href='./style.css')
  // FIN PARA EL SLIDE
#page-wrapper
  // partial:index.partial.html
  ul.bxslider
    li.slide-item
      img(src='images/1.png' alt='')
    li.slide-item
      img(src='images/2.png' alt='')
    li.slide-item
      img(src='images/3.png' alt='')
  // Header
  #header
    h1
      a#logo(href='index.html') Gestoseven
    h3
      a#logo(href='index.html')
        em El &eacute;xito est&aacute; en casa 
    // Nav
    nav#nav
      ul
        li
          // Logo
          a.nav-brand(href='index.html')
            img(src='images/logo.png' alt='')
        li
          a(href='no-sidebar.html') Gestoseven
        li
          a(href='#') Servicios
          ul
            li
              a(href='#') Mantenimiento
        li
          a(href='presupuesto.html') Presupuesto
        li
          a(href='formulario.html') Actualizaci&oacute;n de Datos
        li
          a(href='contacto.html') Contacto
  // Banner
  section#banner
    header
      h2
        | Arcana: 
        em
          | A responsive site template freebie by 
          a(href='http://html5up.net') HTML5 UP
      a.button(href='#') Learn More
  // Highlights
  section.wrapper.style1
    .container
      .row.gtr-200
        section.col-4.col-12-narrower
          .box.highlight
            i.icon.solid.major.fa-paper-plane
            h3 This Is Important
            p
              | Duis neque nisi, dapibus sed mattis et quis, nibh. Sed et dapibus nisl amet mattis, sed a rutrum accumsan sed. Suspendisse eu.
        section.col-4.col-12-narrower
          .box.highlight
            i.icon.solid.major.fa-pencil-alt
            h3 Also Important
            p
              | Duis neque nisi, dapibus sed mattis et quis, nibh. Sed et dapibus nisl amet mattis, sed a rutrum accumsan sed. Suspendisse eu.
        section.col-4.col-12-narrower
          .box.highlight
            i.icon.solid.major.fa-wrench
            h3 Probably Important
            p
              | Duis neque nisi, dapibus sed mattis et quis, nibh. Sed et dapibus nisl amet mattis, sed a rutrum accumsan sed. Suspendisse eu.
  // Gigantic Heading
  section.wrapper.style2
    .container
      header.major
        h2 A gigantic heading you can use for whatever
        p With a much smaller subtitle hanging out just below it
  // Posts
  section.wrapper.style1
    .container
      .row
        section.col-6.col-12-narrower
          .box.post
            a.image.left(href='#')
              img(src='images/pic01.jpg' alt='')
            .inner
              h3 The First Thing
              p
                | Duis neque nisi, dapibus sed mattis et quis, nibh. Sed et dapibus nisl amet mattis, sed a rutrum accumsan sed. Suspendisse eu.
        section.col-6.col-12-narrower
          .box.post
            a.image.left(href='#')
              img(src='images/pic02.jpg' alt='')
            .inner
              h3 The Second Thing
              p
                | Duis neque nisi, dapibus sed mattis et quis, nibh. Sed et dapibus nisl amet mattis, sed a rutrum accumsan sed. Suspendisse eu.
      .row
        section.col-6.col-12-narrower
          .box.post
            a.image.left(href='#')
              img(src='images/pic03.jpg' alt='')
            .inner
              h3 The Third Thing
              p
                | Duis neque nisi, dapibus sed mattis et quis, nibh. Sed et dapibus nisl amet mattis, sed a rutrum accumsan sed. Suspendisse eu.
        section.col-6.col-12-narrower
          .box.post
            a.image.left(href='#')
              img(src='images/pic04.jpg' alt='')
            .inner
              h3 The Fourth Thing
              p
                | Duis neque nisi, dapibus sed mattis et quis, nibh. Sed et dapibus nisl amet mattis, sed a rutrum accumsan sed. Suspendisse eu.
  // CTA
  section#cta.wrapper.style3
    .container
      header
        h2 Are you ready to continue your quest?
        a.button(href='#') Insert Coin
  // Footer
  #footer
    .container
      .row
        section.col-3.col-6-narrower.col-12-mobilep
          h3 Links to Stuff
          ul.links
            li
              a(href='#') Mattis et quis rutrum
            li
              a(href='#') Suspendisse amet varius
            li
              a(href='#') Sed et dapibus quis
            li
              a(href='#') Rutrum accumsan dolor
            li
              a(href='#') Mattis rutrum accumsan
            li
              a(href='#') Suspendisse varius nibh
            li
              a(href='#') Sed et dapibus mattis
        section.col-3.col-6-narrower.col-12-mobilep
          h3 More Links to Stuff
          ul.links
            li
              a(href='#') Duis neque nisi dapibus
            li
              a(href='#') Sed et dapibus quis
            li
              a(href='#') Rutrum accumsan sed
            li
              a(href='#') Mattis et sed accumsan
            li
              a(href='#') Duis neque nisi sed
            li
              a(href='#') Sed et dapibus quis
            li
              a(href='#') Rutrum amet varius
    // Icons
    ul.icons
      li
        a.icon.brands.fa-instagram(href='#')
          span.label Instagram
      li
        a.icon.brands.fa-twitter(href='#')
          span.label Twitter
      li
        a.icon.brands.fa-linkedin-in(href='#')
          span.label LinkedIn
    // Copyright
    .copyright
      ul.menu
        li &copy; Todos los derechos reservados
        li
          | Dise&ntilde;ador por: 
          a(href='http://html5up.net') Gestoseven S.L
// Scripts
script(src='assets/js/jquery.min.js')
script(src='assets/js/jquery.dropotron.min.js')
script(src='assets/js/browser.min.js')
script(src='assets/js/breakpoints.min.js')
script(src='assets/js/util.js')
script(src='assets/js/main.js')
// PARA EL SLIDE
script(src='assets/js/script.js')
// PARA EL SLIDE
